.starContainer {
    perspective: 340px;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation-name: fly;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    transform-origin: center;
}

.stars:before,
.stars:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
}

.stars:before {
    transform: translateZ(-300px);
    animation: fade1 3s linear infinite;
}

.stars:after {
    transform: translateZ(-600px);
    animation: fade2 3s linear infinite;
}

@keyframes fly {
    from {
        transform: translateZ(0px);
    }

    to {
        transform: translateZ(300px);
    }
}

@keyframes fade1 {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}